.encabezado-blog {
    text-shadow: 2px 2px  #ce286b;
    font-family: 'Satisfy', cursive;
    font-size: 50px;
}

.blog-h2 {
    font-size: 30px;
    margin-left: 150px; 
}

#noticias-blog {
    background-color: #f09bad;
    margin-bottom: -50px;
    padding: 100px;
}

.notUno, .notDos, .notTres, .title {
    color: #ce286b;
    font-family: 'Satisfy', cursive;
    font-size: 35px;
    padding: 50px;
    text-decoration: none;
}

.noticia {
    display: inline-block;
    padding: 50px;
    margin-bottom: 150px;
}

@media (max-width:800px) {
    .infoNot {
        display: none;
    }
}