.encabezado-blog {
    text-shadow: 2px 2px  #ce286b;
    font-size: 50px;
    margin-left: 5em ;

}

.blog-h2 {
    font-size: 30px;
    margin-left: 4em; 
}

#noticias-blog {
    background-color: #f09bad;
    margin: 2em  2em 0 2em;
    margin-top: 4em;
    padding: 4em;
}

.noticia-uno, .noticia-dos, .noticia-tres {
    color: #ce286b;
    font-size: 35px;
    text-decoration: none;
}

.blog-notice {
    font-size: 25px;
}

.noticia {
    margin: 1em;
    border: 1px  dashed #ce286b;
}