header {
    background-color: #ffe9f0;
    margin-bottom: -70px;
    margin-top: -50px;

}

.button {
    transition: ease-in .3s;
    margin-bottom: 2em;
    margin-left: 5em ;
    margin-top: 3em;
    border-radius: 3px;
    border-bottom: 3.5px solid #f368a0;
    background-color: #f8afb848;
    justify-content: center;
    align-content: initial;
}

.button > a:hover {
    color: #a8466d;
}

.button:hover {
    background-color: #faafbf;
    transform: scale(1.5);
}

.logoHeader {
    width: 15vw;
    height: 25vh;
    display: inline;
}


#logo-header {
    margin-top: -30px;
    margin-bottom: 2em;

}

.textColor{
    color: #f368a0;
  }