.container-au {
    background: linear-gradient(#ffe9f0, violet, #ffe9f0);
    height: 100%;;
    margin-bottom: -50px;
}

.container-fluid, .global-icon {
    padding: 50px;
}

.global-icon {
    margin-left: 0;
}

@media (max-width:600px) {
    .global-icon {
        display: none;
    }
}



  